*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: sans-family;
    padding: 80px 0px 20px 0px;
}

.header {
    background-color: black;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.aside {
    background-color: gray;
    position: fixed;
    top: 80px;
    width: 20%;
    bottom: 20px;
}

.contenido{
    background-color: whitesmoke;
    position: fixed;
    top: 80px;
    right: 0;
    width: 80%;
    bottom: 20px;
    overflow-y: scroll;
    padding: 20px;
}

.footer{
    background-color: lightseagreen;
    height: 20px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.article{
    text-align: center;
}

h1{
    color: white;
}

h1{
    text-align: center;
}


h2{
    color:black;
    }

h3{
    color: brown;
}

h3{
    text-align: center;
}

h4{
    text-align: right;
}

.texto_centrado{
    text-align: center;
}

.texto_derecho{
    text-align: right;
}

.footer{
    text-align: center;
}





